<div class="row">
  <div class="col-md-12">
    <h4 class="text-center py-4">{{ headline }}</h4>
    <hr class="my-4" />
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-6 col-s-12" *ngFor="let data of headlines">
    <div class="card">
      <img src="{{ data.urlToImg }}" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ data.title }}</h5>
        <p class="card-text">{{ data.description }}</p>
        <a href="#" class="btn btn-danger">Read More</a>
      </div>
    </div>
  </div>
</div>
