<div class="container">
  <app-navigation></app-navigation>

  <div class="row">
    <div class="text-center">
      <h1 class="title">About Us</h1>
      <p>
        We not only make the world’s most comfortable hammocks, but through
        training and sustainable job creation, we empower our weavers and their
        families to break the cycle of poverty and build a brighter future.
      </p>
    </div>
    <hr class="mt-5" />
    <div class="col-md-6">
      <p>
        Skilled Web Developer that enjoy working with various web technologies
        and latest with changing priorities, development methodologies, and
        technical solutions. Provide ongoing features for better performance.
        Prepared to work in a high-impact, dynamic environment maintenance,
        support and enhancements in existing systems and platforms. Work
        alongside other engineers on the team to elevate technology and
        consistently apply best practices
      </p>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Emir Mustafoski</h5>
        <img
          src="https://mustafoski.netlify.app/assets/profile.4248fa32dfe1370cfd5cd5ccc3b70ead.jpeg"
          alt="Emir"
          height="300px"
        />
      </div>
    </div>
  </div>
</div>
